<div class="layer"></div>

<section class="main">
  <div class="popup-layer"></div>
  <div class="close-popup" ng-click="hidePopup()"></div>

  <div class="social">
    <a href="http://vk.com/denmusicpage" target="_blank">
      <img src="img/vk.png" alt="VK" width="56px">
    </a>
    <a href="https://www.facebook.com/denmusicpage" target="_blank">
      <img src="img/fb.png" alt="Facebook" width="56px">
    </a>
    <a href="https://www.youtube.com/channel/UCIpg-u_HQKfgG8FjFRtoHwg" target="_blank">
      <img src="img/ytb.png" alt="Youtube" width="56px">
    </a>
    <a href="https://twitter.com/denmusic92" target="_blank">
      <img src="img/twitter.png" alt="Twitter" width="56px">
    </a>
    <a href="https://myspace.com/bloodsucker92" target="_blank">
      <img src="img/ms.png" alt="Myspace" width="56px">
    </a>
    <a href="https://plus.google.com/108835573892189771713" target="_blank">
      <img src="img/google.png" alt="Google+" width="56px">
    </a>  
  </div>
  
  <div class="logo">
    <span class="den">Denmi</span>
    <div class="clearfix"></div>
    <span class="music">Music</span>
    <div class="clearfix"></div>
    <span class="about-text about-first">Привет! Меня зовут Denmi, я молодой поп-рок музыкант. Ознакомиться с моим творчеством вы можете <br><a href="" class="here" ng-click="showPopup(e)">тут</a></span>
    <span class="about-text about-last">
      Также я рад предложить вам свои музыкальные услуги
    </span>
    <a href="#services" data-scroll><div class="learn-more btn">Узнать больше</div></a>
  </div>
 
    
    
 

  <!--<div class="contact-btn">Contact me</div>-->

  <div class="btn aboutme-btn"><a href="#about">Обо мне</a></div>

  <a href="#video">
    <div class="navigate-left navigation">
          <div class="navigate-left_button">
            <div  class="navigate-left_title">Видео</div>
          </div>
          <div class="navigate-left_video"></div>
    </div>
  </a>

  <a href="#music">
    <div class="navigate-right navigation">
        <div class="navigate-right_button">
          <div  class="navigate-right_title">Музыка</div>
        </div>
        
        <div class="navigate-right_music"></div>
    </div>
  </a>

  <a data-scroll href="#services">
    <div class="navigate-down navigation">
			  <div class="navigate-down_bio"></div>
      <div class="navigate-down_button"></div>
    </div>
  </a>
</section>

<section class="services" id="services">
  <div class="services-header">
    <h1>Мои услуги</h1>
    <div class="ribbon"></div>
  </div>
  
  <ul class="services-wrapper">
    <li class="service" id="service_01">Написание музыки</li>
    <li class="service" id="service_01">Написание текстов</li>
    <li class="service" id="service_01">Написание аранжировок</li>
    <li class="service" id="service_01">Написание джинглов, музыка к рекламе</li>
    <li class="service" id="service_01">Саундтреки</li>
    <li class="service" id="service_01">Упаковка для радио</li>
    <li class="service" id="service_01">Сведение, мастеринг</li>
    <li class="service" id="service_01">Мой голос "в аренду"</li>
    <li class="service" id="service_01">Сессионные услуги</li>
  </ul>
</section>

<section class="contact">
  <h1>Связаться со мной</h1>

  <div class="contact-wrapper">
    <input type="text" placeholder="У вас же есть имя, верно?">
    <input type="email" placeholder="Email, на который я смогу прислать ответ">
    <input type="text" placeholder="О чем вы хотите поговорить?">
    <textarea name="message" id="" cols="30" rows="10" placeholder="Ваше сообщение"></textarea>
    <button class="btn">Отправить</button>
  </div>
</section>
<div class="container">
</div> <!-- /container -->
   
